.game-container {
    text-align: center;
}

.word {
    font-size: 24px;
    font-weight: bold;
}

.letters {
    margin-top: 20px;
}

.letters button {
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.message {
    font-size: 24px;
    font-weight: bold;
    color: rgb(204, 32, 32);
}

.MeltingSnowman {
    margin-top: 20px;
}

.MeltingSnowman img {
    width: 100px;
    height: 100px;
}